body{
   font-family: 'Marvel', sans-serif;
font-family: 'Roboto', sans-serif;
margin: 0%;

}
.header{
   background-image: url("./Images/donation13.jpg");
   text-align: center;
   color: rgb(229, 236, 243);
   background-repeat: no-repeat;
   background-size: cover;
   height: 500px;
   align-items: center;
   font-size: large;
   text-align: center;  
   padding-top: 40px;
   margin: 0%;
 
}
.fontsize{
   font-size: 50px;
}
.button{
   color: rgb(253, 253, 250);
   text-decoration: none;
   background-color: rgb(233, 84, 84);
   padding: 12px 10px;
   border-radius: 8px;
}
.aligncenter{
   text-align: center;
}
.tflexbox1{
  background-color: rgb(250, 106, 53);
  border: 5px;
   margin: 20px;
   width: 100px;
   height: 100px;
   text-align: center;
   border-radius: 10px;

   font-size: 22px;
   color: black;
   line-height: 100px;
}
.tflexbox2{
   display: flex;
   text-align: center;
   width: 100%;
   height: auto;
   justify-content: center;
   
   
}
.tflexbox3{
   display: flex;
   padding: 10px;
   margin: 10px;
}
.flexbox01{
  
   text-align: left;
   padding: 10px 10px 20px 20px;
   width: 600px;
   height: 200px;
   margin: 4%;
   background-size: 33.33%;
   
}
.color1{
   background-color: aqua;
  
}
.color2{
   background-color: burlywood;
}
.color3{
   background-color: coral;
}
.flex1{
   display: flex;
   height: 50%;
}
.flex01{
   width: 50%;
   
   padding-left: 5%;
   padding-right: 5%;
}
.flex01 img{
   width: 80%;
}
.input1{
   padding: 6px 8px;
   height: 10px;
}
.input2{
   padding: 1% 5%;
   height: 3%;
}
.footer{
   color: aliceblue;
   background-color: rgb(22, 22, 22);
   height: 120px;
   padding-top: 10px;
}
.input3{
   width: 300px;
}